[Desktop Entry]
Name = siduction-classic
Comment = the classic siduction lightdm-kde login prompt
Version = 0.1
Author = Siduction Art Team
Homepage = http://siduction.org
