[Desktop Entry]
Name = laikas-rache
Comment = indiansummer lightdm-kde login prompt with big icons
Version = 0.1
Author = Siduction Art Team
Homepage = http://siduction.org
