[Desktop Entry]
Name=siduction razor-qt
Name[x-test]=xxsiduction razor-qtxx
X-KDE-PluginInfo-Name=siduction-razor-qt
X-KDE-PluginInfo-Author=siduction Art Team
X-KDE-PluginInfo-Email=siduction-artwork@lists.siduction.org
X-KDE-PluginInfo-License=GPLv2
