[Desktop Entry]
Name=siduction dev
Name[x-test]=xxsiduction devxx
X-KDE-PluginInfo-Name=siduction-dev
X-KDE-PluginInfo-Author=siduction Art Team
X-KDE-PluginInfo-Email=siduction-artwork@lists.siduction.org
X-KDE-PluginInfo-License=GPLv2
