[Desktop Entry]
Name = indiansummer
Comment = siduction lightdm-kde login prompt
Version = 0.1
Author = Siduction Art Team
Homepage = http://siduction.org
