# This is not really a .desktop file like the rest, but it is useful to treat
# it as such

[KdmGreeterTheme]
Greeter=siduction.xml
Name=siduction
Author=Tom Wroblewski
Copyright= 2011 GoinEasy9 at linux dot com
Screenshot=siduction-wallpaper.png

